.audioPlayer {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 360px;
  margin-top: -125px;
  margin-bottom: 2rem;
  background: hsla(0, 0%, 13%, 0.5);
  padding: 1rem 2rem;
  box-shadow: 2px 4px 19px 2px var(--primary-dark);
  transition: 0.3s;
}

.audioPlayer:hover {
  box-shadow: 2px 4px 8px 0px var(--primary-dark);
  transition: 0.5s;
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 18px;
  cursor: pointer;
  margin: 0 1rem;
  color: rgba(252, 252, 252, 0.7);
}

.forwardBackward:hover {
  color: var(--secondary-dark);
  transition: 0.3s;
}

.playPause {
  background: var(--medium-gray);
  border: none;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  font-size: 64px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items:center;
}
.playPause:hover {
  color: var(--secondary-dark);
  transition: 0.3s;
}

.play {
  position: relative;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
  color: rgba(252, 252, 252, 0.7);
}

.currentTime {
  margin: 0 1rem;
}
.duration {
  margin: 0 1rem;
}
.progressBar {
  --bar-bg: rgba(34, 34, 34, 0.4);
  --seek-before-width: 0;
  --seek-before-color: var(-primary-light);
  --knobby: var(--secondary);
  --selectedKnobby: var(--secondary-dark);

  appearance: none;
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 220px;
  height: 11px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--black);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.1);
  background: var(--selectedKnobby);
  transition: 0.3s;
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.1);
  transition: 0.3s;
  background: var(--selectedKnobby);
}


.bottom {
  display: flex;
}

.top {
  display: flex;
  margin-bottom: 1rem;
}