.beat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.beat > img {
  width: 550px;
}

.pbeatlast-child {
  margin-right: 0;
}

.beat-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.beat-title {
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-dark)
}

.beat-price {
  font-size: 1rem;
}

.beat-description {
  width: 750px;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--dark-gray);
}

.beat-image {
  width: 100%;
  margin-bottom: 0.5rem;
}

.edit-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
}

.fa-edit {
  margin-right: 2rem;
}

.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.product-detail-infos {
  margin-right: 2rem;
} 
