@import url('../src/styles/Product.css');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500;600;700&family=Roboto&display=swap');

:root {
  --primary: rgba(64, 132, 132, 0.8)
}

*, html {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.layout {
  margin: 2rem 8rem;
  padding: 2rem 2rem;
}

@media screen and (max-width: 1368px) {
  .search-box {
    display: none;
  }
}
