:root {
  --primary: rgba(64, 132, 132, 0.8)
}


.success {
  background-color: green;
}

.error {
  background-color: red;
}

.layout {
  margin: 2rem 8.75rem;
  padding: 2rem 20rem;
}

@media only screen and (max-width: 496px) {
  .layout {
    margin: 0.5rem 0;
    padding: 0.5rem 0 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .layout {
    margin: 1rem 0;
    padding: 1rem 0 2rem;
  }
}